<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        {{forms}}
        <button type="submit">Add Task</button>

    </form>
    {% for tasks in todos %}
    <p>{{tasks.title}}</p>
    <p>{{tasks.description}}</p>
    <a href="{% url 'update' tasks.id %}"><button>Update</button></a>
    <a href="{% url 'delete' tasks.id %}"><button>Delete</button></a>
    {% endfor %}


    
</body>
</html>

